body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .navbar {
    position: relative;
    height: 600px;
    color: white;
    overflow: hidden;
  }
  .navbar::before {
    content: "";
    position: absolute;
    inset: 0;
    background: 
      linear-gradient(to bottom, rgba(128, 0, 128, 0.4) 0%, rgba(255, 255, 255, 0.9) 80%, white 100%),
      url('../images/header.jpg') center 20% / cover no-repeat;
    z-index: -1;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    margin: 0;
    gap: 20px;
  }.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
  }
  
  .nav-links a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: #d6b3ff; /* violet clair */
    transition: width 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #18062c;
  }
  
  .nav-links a:hover::after {
    width: 100%;
  }
  .SOTITLE {
    position: absolute;
    top: 40%;
    left: 37%;
    transform: translate(-50%, -50%);
    font-size: 52px;
    margin: 0;
    color: #3e1172;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }
  
  .title {
    position: absolute;
    top: 64%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 75px;
    margin: 0;
    color: #3e1172;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }
  .ptititre {
    position: absolute;
    top: 85%;
    left: 42%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    margin: 0;
    color: #3e1172bd;
    
  }
  .btn-work {
    position: absolute;
    top: 95%;
    left: 40%;
    transform: translate(-50%, -50%);
    padding: 12px 24px;
    background-color: #7f3df0;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(127, 61, 240, 0.3);
    transition: all 0.3s ease;
  }
  
  .btn-work:hover {
    background-color: #5a2dc7;
    box-shadow: 0 6px 18px rgba(90, 45, 199, 0.4);
    transform: translate(-50%, -50%) scale(1.05);
  }
  #about img{
    display: flex;
    height: 90%;

  }
  #about {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:1%;
  }
  #about a {
    transform: translate(-50%, -50%);
    padding: 12px 24px;
    background-color: white;
    color: #7f3df0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(127, 61, 240, 0.3);
    transition: all 0.3s ease;
  }
  #about a:hover{
    background-color: #cae3e5;
    box-shadow: 0 6px 18px rgba(77, 69, 95, 0.4);
    transform: translate(-50%, -50%) scale(1.05);
  
  }
  #about h1 {
    color: #3e1172;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    margin: 0;

  }
  #about h3 {
color: hsla(233, 85%, 8%, 0.426);
  }
  #about p {
    margin-bottom: 50px;
    font-size: 25px;
    color: #0a041585;
  }
  